<div>

{{!-- <button type="button" class='login' >Login </button>
<button type="button" class='signup'>Sign Up</button> --}}

<form action="/auth/spotify" method="GET">
    <input type='submit' value='Sign Up'>
</form>

<form action="/login" method="GET">
    <input type='submit' value='Login'>
</form>


</div>