<div>
    your photo is here, we are processing your photo
    <img src={{image}} width="400px" height="300px">
</div>

<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/processphoto";
  }, 2000)
</script>