<div>

 <form action="/listenmusic">
    <input type='submit' value='listen'>
</form> 

<form action="/">
    <input type='submit' value='home'>
</form> 

<form action="/takephoto" method="GET">
    <input type='submit' value='Take Photo'>
</form>

<form action="/checkphoto" method="GET">
    <input type='submit' value='Check photo'>
</form>

<form action="/check" method="GET">
    <input type='submit' value='Check'>
</form>


<div>
    Welcome back, {{id}}
</div>
<div>
    your birthdate: {{birthdate}}
</div>

</div>