<div id='userInfo'>
    Welcome back, {{id}}
</div>


<form action="/checkphoto" method="GET">
    <input type='submit' value='Start' id='startApp'>
</form>

<ul id='userRules'>
    <li id='userRules'>Read Your Emotion From A Instant Photo Of You</li>
    <li id='userRules'>Play the music for you according to your mood</li>
</ul>
