
<div>
<iframe id='iframe' src="https://open.spotify.com/embed?uri=spotify%3Auser%3A{{username}}%3Aplaylist%3A{{playlistid}}&theme=white" width="700" height="380" frameborder="0" allowtransparency="true"></iframe>


</div>

    

