<div>


{{!-- <form action="/auth/spotify" method="GET">
    <input type='submit' value='Sign Up'>
</form> --}}

<p id='loginSlogan'>Login with Spotify</p>

<a href='/login'><img src='/spotify.png'></a>

<form action="/login" method="GET">
    <input type='submit' value='Login'>
</form>




</div>