<div id='noface'>

    We can't see your face, please try again

    <form action="/checkphoto" method="GET">
        <input type='submit' value='Try Again' id='appButton'>
    </form>

<form action="/login" method="GET">
    <input type='submit' value='Back'>
</form>


</div>
