<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>...</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet'>
        <link rel="stylesheet" href="templatestylesheet.css">
        <script type="text/javascript" src="webcamjs/webcam.min.js"></script>
    </head>

    <style>
        body{
            background-color: #ffe6e6;
            text-align: center;
            font-family: 'Neucha',
        }
        #startApp{
            height: 100px;
            width: 200px;
            background: #D9A88F;
            font-family: 'Neucha';
            font-size: 50px;
            border-radius: 10px;
            margin-top: 10px;
        }
        #userInfo{
            font-family: 'Neucha';
            font-size: 50px;
            color: #5E7703;
            margin-top: 20vh; 
        }
        #userRules{
            font-family: 'Neucha';
            font-size: 30px;
            color: #6A7D8E;
            margin-left: 20%;
            margin-right: 20%;
        }
        #noface{
            font-family: 'Neucha';
            font-size: 50px;
            color: #5E7703;
            margin-top: 20vh; 
        }
        #appButton{
            height: 60px;
            width: 120px;
            background: #D9A88F;
            font-family: 'Neucha';
            font-size: 30px;
            border-radius: 10px;
            margin-top: 10px;
        }
        #textt{
            font-family: 'Neucha';
            font-size: 24px;
            color: #6A7D8E;
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 10vh;
        }
        #dataofimage{
            color:#CA8F42;
        }
        #seeotherresult{
            margin-top: 20px; 
            color: #B06660;
        }
        #hideresult{
            margin-top: 20px; 
            color: #B06660;
        }
        #otherresult{
            font-size: 18px;
            color:aquamarine;
        }
        #loginSlogan{
            margin-top: 100px;
            margin-bottom: 30px;
            font-family: 'Neucha';
            font-size: 30px;
        }
        #iframe{
            margin-top: 50px; 
        }
    </style>

    <body>
        
        {{{body}}}
        
    </body>
    
</html>